*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}
body {
    line-height: 1.6;
}
h1 {
    color: #007bff;
}
h2 {
    color: #28a745;
}
h3 {
    color: #dc3545;
}
ul {
    list-style-type: none;
    padding-left: 0;
}
li::before {
    content: "•";
    color: #007bff;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

.content{
    margin:auto;
    margin-top:50px;
    width:90%;
    font-size:1.5rem;
}